{% extends "common/base_common.html" %}

{% block page_scripts %}
  {% load static %}
  <!-- <script src="{% static 'econdata/products-app.module.js' %}"></script> -->
{% endblock %}

{% block title %}Product Details - Clair{% endblock %}

{% block content %}
  <div>
    <h1>Product Details</h1>

    <p>
      View and edit all fields of a product.
    </p>
 
    <legend>{{form.name.value}} - <small>(ID: {{form.instance.id}})</small></legend>
    {% load crispy_forms_tags %}
    {% crispy form %}

  </div>
{% endblock %}
