{% extends "common/base_common.html" %}

{% block page_scripts %}
  {% load static %}
<!--    <script src="{% static 'econdata/products-app.module.js' %}"></script> -->
{% endblock %}

{% block title %}Product Details - Clair{% endblock %}

{% block content %}
  <div>
    <h1>Product Details</h1>

    <p>
      View and edit the product with ID {{product_id}}.
    </p>
 
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>{{form.name.value}}</legend>
            <div>ID: {{form.instance.id}}</div>
            {% for field in form %}
                {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            <span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                                <span class="help-inline">
                                    {{ field.help_text }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Submit</button>
        </div>
    </form>

  </div>
{% endblock %}
