<div>
  <!-- Widgets to specify which products are in this listing. --> 
  <input ng-model="inProductName" type="text" list="prod-completer" 
         placeholder="Product name">
  <datalist id="prod-completer">
    <option ng-repeat="product in $ctrl.productsMany">{{product.name}}</option>
  </datalist>

  <select ng-model="inProductName" style="width:10px">
    <option ng-repeat="product in $ctrl.productsFew">{{product.name}}</option>
  </select> 

  <button type="submit" class="btn btn-primary btn-xs" 
          ng-click="$ctrl.addProduct(inProductName)">
    <span class="glyphicon glyphicon-plus-sign"></span>
  </button> 
  
  <!-- Representations of Products in this listing. -->
  <span ng-repeat="record in $ctrl.productsInListing" 
        style="border: 1px solid lightgray; border-radius: 10px;
               padding-left: 10px;padding-right: 10px;">
    {{record.product.name}}
  </span>
</div>