<div>
  <form>
    <input ng-model="prodName" type="text" list="prod-completer" 
           placeholder="Product name">
    <datalist id="prod-completer">
      <option ng-repeat="product in $ctrl.productsMany">{{product.name}}</option>
    </datalist>
    
    <select ng-model="prodName" style="width:20px">
      <option ng-repeat="product in $ctrl.productsFew">{{product.name}}</option>
    </select> 
    
    <button type="submit" class="btn btn-primary btn-xs" 
            ng-click="$ctrl.addProduct(prodName)">
      <span class="glyphicon glyphicon-plus-sign"></span>
    </button> 
  </form>
</div>